.about-app {
  padding: 25px;
  padding-top: 150px;
  background-color: #192144;
}

.about-app__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #ff8d30;
}

.about-app__text {
  color: #ffffff;
  &--action {
    font-weight: 700;
  }
}

