.authorization__link {
  display: block;
  padding: 5.5px 20px;
  border-radius: 20px;
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffd74b;
  color: #161c35;
}
