.banner {
  padding: 0 25px;
  text-align: end;
}

@media (min-width: $tablet-width) {
  .banner {
    position: absolute;
    bottom: 0;
  }

  .banner__image {
    width: 372px;
    height: 451px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    position: relative;
    flex-shrink: 0;
  }

  .banner__image {
    width: 431px;
    height: 640px;
  }
}

