.button {
  display: block;
  padding: 20px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.76;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd74b;
  color: #161c35;
}



