.companion {
  position: relative;
}

.companion__image {
  display: flex;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.companion__avatar {
  flex-shrink: 0;
}

.companion__info {
  position: relative;
  padding-top: 26px;
  padding-bottom: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
}

.companion__title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 15px;
}

.companion__title-link {
  position: relative;
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  color: #1d2e5b;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &--1 {
    &::before {
      background-color: #f97676;
    }
  }

  &--2 {
    &::before {
      background-color: #81e31e;
    }
  }
}

.companion__likes {
  margin: 0;
  color: #161c35;
}

.companion__countries {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.companion__footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .companion__avatar {
    &--catalog {
    float: left;
    }
  }

  .companion__button {
    &--inside {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .companion__title-link {
    font-size: 24px;
  }

  .companion__title {
    margin-bottom: 20px;
  }

  .companion__image {
    width: 285px;
    height: 285px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--catalog {
      width: 190px;
      height: 190px;
    }
  }

  .companion__info {
    padding-top: 30px;
    padding-bottom: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .companion__top {
    display: flex;
    flex-direction: column;
  }

  .companion__active-block {
    display: flex;
    order: 1;
  }

  .companion__button {
    &--outside {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .companion__footer {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .companion__image {
    &--catalog {
      width: 285px;
      height: 285px;
    }
  }
}
