.companions {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #192144;
  &--catalog {
    background-color: #edeff6;
  }
}

.companions__title {
  margin: 0;
  color: #ff8d30;
}

.companions__text {
  color: #ffffff;
}

.companions__list {
  @include list-reset;
}

.companions__item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

