.countries__list {
  @include list-reset;
  display: flex;

  &--catalog {
    flex-direction: column;
  }
}

.countries__item {
  display: flex;
}

.countries__item:not(:last-child) {
  margin-right: 18px;
}

@media (max-width: $mobile-width-only) {
  .countries {
    &--outside {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .countries {
    &--inside {
      display: none;
    }
  }

  .countries__list {
    &--catalog {
      flex-direction: row;
    }
  }
}

@media (min-width: $desktop-width) {
  .countries {
    &--outside {
      display: none;
    }
  }
}

