.feedback__list {
  display: flex;
  @include list-reset;
}

.feedback__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: #ff8d30;
  }

  &--email {
    background-color: #ffbd30;
  }
}

.feedback__icon {
  fill: #161c35;
}

@media (max-width: $mobile-width-only) {
  .feedback {
    display: none;

    &--index {
      position: absolute;
      padding: 0 25px;
      width: 100%;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  .feedback__item:last-child {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only){
  .feedback__item:not(:last-child) {
    display: none;
  }
}
