.feedback {
  display: flex;
  justify-content: space-between;
  @include list-reset;
}

.feedback__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: #ff8d30;
  }

  &--email {
    background-color: #ffbd30;
  }
}

.feedback__icon {
  fill: #161c35;
}
