.form-transport {
  &--top {
    display: none;
  }

  border: solid 1px #cbced9;
  border-radius: 10px;
}

.form-transport__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #1d2e5b;
}

.form-transport__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
}

.form-transport__icon {
  fill: #d9d9d9;
  &--active {
    fill: #1d2e5b;
  }
}

@media (min-width: $tablet-width) and  (max-width: $tablet-width-only) {
  .form-transport {
    &--top {
      display: block;
    }

    &--bottom {
      display: none;
    }
  }
}



