.form-plan {
  background-color: #d4d9eb;
}

.form-plan__wrapper {
  padding: 0 25px;
}

.form-plan__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #1d2e5b;
}

.form-plan__list {
  @include list-reset;
}

.form-plan__item {
  border-radius: 10px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .form-plan__wrapper {
    @include tablet-wrapper;
  }

  .form-plan__pages {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form-plan__wrapper {
    @include desktop-wrapper;
  }

  .form-plan__header {
    display: flex;
    justify-content: space-between;
  }
}
