.form-tags {
  border: solid 1px #cbced9;
  border-radius: 10px;
}

.form-tags__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #1d2e5b;
}

.form-tags__listing {
  border: none;
  font-weight: 400;
  background-color: #edeff6;
  color: #444444;
  resize: none;
}

