
.hamburger__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger__icon {
  fill: #ffffff;
}

@media (min-width: $desktop-width) {
  .hamburger {
    display: none;
  }
}
