.index-link {
  display: block;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background-color: #ffd74b;
  color: #1d2e5b;
  &--address {
    border: 2px solid #192144;
  }
}



