.logo {
  margin: 0;
}

.logo__image {
  display: flex;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 166px;
    height: 42px;

    &--footer {
      width: 164px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 200px;
    height: 52px;

    &--footer {
      width: 164px;
    }
  }
}
