
.nav__list {
  @include list-reset;
}

.nav__link {
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #192144;
}

@media (min-width: $desktop-width) {
  .nav__list {
    display: flex;
  }

  .nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .nav__link {
    font-size: 20px;
    color: #ffffff;
  }
}
