
.pagination__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #1d2e5b;
}

.pagination__list {
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.pagination__icon {
  fill: #192144;
}

