.plan-date {
  border: none;
}

.plan-date__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #1d2e5b;
}

.plan-date__desc {
  font-weight: 400;
}

.plan-date__text {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  &--desc {
    color: #1d2e5b;
  }
  &--value {
    color: rgba(29, 46, 91, 0.3)
  }
}

.plan-date__children-label {
  font-size: 15px;
  font-weight: 400;
  color: #444444;
}


@media (min-width: $tablet-width) {
  .plan-date__wrapper {
    display: flex;
    flex-direction: column;
  }

  .plan-date__inner--2 {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .plan-date__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .plan-date__inner--2 {
    width: 100%;
  }
}

