.rates {
  &--business {
    display: none;
    background-color: #ffffff;
  }
}

.rates__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #ff8d30;
}

.rates__list {
  @include list-reset;
}

.rates__text {
  color: #444444;
}

.rates__link {
  line-height: 1;
  color: #192144;
}

@media (min-width: $tablet-width) {
  .rates__item {
    display: flex;
    justify-content: space-between;
  }
}

