.reg {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #192144;
}

.reg__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #ff8d30;
}

.reg__text {
  color: #ffffff;
}

.reg__link {
  color: #ffd74b;
}

