.scroll-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: $mobile-width-only) {
  .scroll-menu {
    padding: 0 25px;
    min-height: 73px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .scroll-menu {
    min-height: 132px;
  }

  .scroll-menu__hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-width) {
  .scroll-menu__site-menu {
    margin-right: auto;
    margin-left: 145px;
  }
}
