@media (max-width: $tablet-width-only) {
  .site-menu {
    display: none;
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {

  .site-menu__item:not(:first-child) {
    display: none;
  }
}
