.socials {
  display: flex;
  justify-content: center;
  @include list-reset;
}

.socials__link {
  &--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ffd74b;
  }
}

.socials__icon {
  fill: #cccccc;
  &--footer {
    fill: #1d2e5b;
  }
}

@media (min-width: $tablet-width) {
  .socials__link {
    &--footer {
      width: 60px;
      height: 60px;
    }
  }
}
