.transport__list {
  @include list-reset;
  display: flex;
}

.transport__icon {
  fill: #d9d9d9;
  &--active {
    fill: #1d2e5b;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .transport__list {
    &--catalog {
      flex-direction: column;
    }
  }
}
