.trends {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #edeff6;
}

.trends__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #ff8d30;
}

.trends__desc {
  color: #444444;
}

.trends__list {
  @include list-reset;
}

